%body
  .container
    .text-right
      - if current_user.id == @question.user_id
        / ベストアンサーが決まっていたら修正ができないようにする
        = link_to_unless @question.best_answer_id, '修正', edit_question_path(@question)
        |
      = link_to '戻る', questions_path
    %header.jumbotron.my-4
      %h2.card-title= @question.title
      - @question.tags.each do |tag|
        %button.btn.btn-info= tag.name
  
      - if current_user.role == '回答者'
        = link_to '回答する！', "/answers/new/#{@question.id}", class: 'btn btn-primary btn-lg'
    .card-body
      内容：
      %br/
      = @question.body
      %br/
      質問ユーザー：
      %span{:class => "#{"user_color" if current_user.id == @question.user_id}"}= user_info(@question.user_id).name
    .row
      - @question.answers.each do |answer|
        .col-lg-11.col-md-11
          .card.h-100
            / ベストアンサーの色を変更するための修正
            %div{:class => "card-body  #{"best-answer" if @question.best_answer_id == answer.id}"}
              %div= answer.body
              %p.text-right
                %span{:class => "#{"user_color" if current_user.id == answer.user_id}"}
                  回答ユーザー：#{user_info(answer.user_id).name}
              - answer.reactions.each do |reaction|
                .row
                  .col-lg-12.col-md-12
                    .card.h-100
                      .card-body
                        %div= reaction.body
                        %p.text-right
                          %span{:class => "#{"user_color" if current_user.id == reaction.user_id}"}
                            回答ユーザー：#{user_info(reaction.user_id).name}
                %br/
              / ベストアンサーが決まっていたら修正ができないようにする
              -# %p.text-right= link_to_unless @question.best_answer_id, '反応する', "/reactions/new/#{answer.id}"
        .col-lg-1.col-md-1.ba-parent
          %div{:class => "ba-child text-center  disabled#{"disabled" if @question.best_answer_id != nil}"}
            / disablesと確認ダイアログを追加
            = button_to("BA",                                                                                         |
                        {controller: 'questions',                                                                     |
                        :action => 'update'},                                                                        |
                        {method: :put,                                                                                |
                        params: {question: {title: @question.title,                                                  |
                                            body: @question.body,                                                    |
                                            user_id: @question.user_id,                                              |
                                            best_answer_id: answer.id                                                |
                        }},                                                                                          |
                        disabled: @question.best_answer_id,                                                          |
                        data: {confirm: "#{user_info(answer.user_id).name}さんの回答をベストアンサーにします。この修正は変更できませんが、よろしいですか？"} |
                        }                                                                                             |
              )                                                                                                       |
    .text-right
      - if current_user.id == @question.user_id
        / ベストアンサーが決まっていたら修正ができないようにする
        = link_to_unless @question.best_answer_id, '修正', edit_question_path(@question)
        |
      = link_to '戻る', questions_path
