.header
  .header__title
  
    .header__title__icon
      = link_to '#' do
        = icon('fas fa-3x','fa-tint', class: 'fa-tint')
    .header__title__name
      = link_to '#' do
        CHOICE

  .header__user
    .header__user__sign
      - if user_signed_in?
        = link_to "/users/sign_in" do
          マイページ
      - else
        = link_to "/users/sign_up" do
          新規会員登録

    .header__user__log
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete, class:".logout__box__bm" do 
          ログアウト
      - else
        = link_to "/users/sign_in" do
          ログイン
    
    