%h1 Listing kids

%table
  %thead
    %tr
      %th Name
      %th Company
      %th Rank
   
      %th Pit1
      %th Pit2
      %th Pit3
      %th Advice1
      %th Advice2
      %th Advice3
      %th Picture
      %th
      %th
      %th

  %tbody
    - @kids.each do |kid|
      %tr
        %td= kid.name
        %td= kid.company
        %td= kid.rank
        %td= kid.point
        %td= kid.pit1
        %td= kid.pit2
        %td= kid.pit3
        %td= kid.advice1
        %td= kid.advice2
        %td= kid.advice3
        %td= kid.picture
        %td= link_to 'Show', kid
        %td= link_to 'Edit', edit_kid_path(kid)
        %td= link_to 'Destroy', kid, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Kid', new_kid_path
