%h1 Listing sties

%table
  %thead
    %tr
      %th Name
      %th Company
      %th Rank
      %th Point
      %th Pit1
      %th Pit2
      %th Pit3
      %th Avdice1
      %th Advice2
      %th Advice3
      %th Picture
      %th
      %th
      %th

  %tbody
    - @sties.each do |sty|
      %tr
        %td= sty.name
        %td= sty.company
        %td= sty.rank
        %td= sty.point
        %td= sty.pit1
        %td= sty.pit2
        %td= sty.pit3
        %td= sty.avdice1
        %td= sty.advice2
        %td= sty.advice3
        %td= sty.picture
        %td= link_to 'Show', sty
        %td= link_to 'Edit', edit_sty_path(sty)
        %td= link_to 'Destroy', sty, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Sty', new_sty_path
