%p#notice= notice

%p
  %b Name:
  = @sty.name
%p
  %b Company:
  = @sty.company
%p
  %b Rank:
  = @sty.rank
%p
  %b Point:
  = @sty.point
%p
  %b Pit1:
  = @sty.pit1
%p
  %b Pit2:
  = @sty.pit2
%p
  %b Pit3:
  = @sty.pit3
%p
  %b Avdice1:
  = @sty.avdice1
%p
  %b Advice2:
  = @sty.advice2
%p
  %b Advice3:
  = @sty.advice3
%p
  %b Picture:
  = @sty.picture

= link_to 'Edit', edit_sty_path(@sty)
\|
= link_to 'Back', sties_path
