.wrapper
  = render "header"

  %p
    %b User:
    = @answer.user_id
  %p
    %b Answer:
    = @answer.body
  %p
    %b Body:
    = @reaction.body  

  = link_to 'Edit', edit_reaction_path(@reaction)
  \|
  = link_to 'Back', questions_path

-# %body
-#   .container
-#     %header.jumbotron.my-4
-#       %h2.card-title
-#         = @reaction.body
-#     -#     = @answer.user
-#     -# .card-body
-#     -#   内容：
-#     -#   %br/
-#     -#   = @answer.body
-#     -#   %br/
-#       内容：
-#       %br/
      





