%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark{:style => "background-color:black;"}
  .navbar
    .navbar__title
      .navbar__title__icon
        = link_to root_path do
          = icon('fas fa-3x','fa-tint', class: 'fa-tint')
    .navbar__title__name
      = link_to "CHOICE", "top" 
    .navbar__title__title 

    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.ml-2{:style => "color:white;"}
          = search_form_for @q do |f|
            = f.search_field :body_cont
            = f.submit
        %li.nav-item
          %li.nav-item.ml-4
            = link_to '質問一覧', "/questions", class: "btn btn-outline-light"
          -# %li.nav-item.ml-2
          -#   = link_to "質問する", "/questions/new", class: "btn btn-outline-light"
          -# %li.nav-item.ml-2
          -#   = link_to "回答する", "/answers", class: "btn btn-outline-light"
          %li.nav-item.ml-2
          .nav-item
          = link_to "ログアウト", "/users/sign_out", class: 'btn btn-outline-danger', :method => :delete

  .container
    %header.jumbotron.my-4
      %h2.card-title
        = @question.title
    .card-body
      内容：
      %br/
      = @question.body
    .row
      - @question.answers.each do |answer|
        .col-lg-12.col-md-12
          .card.h-100
            .card-body
              %div= answer.body
              %p.text-right
                回答ユーザー#{user_info(answer.user_id).name}
    = link_to 'Edit', edit_question_path(@question)
    |
    \#{link_to 'Back', questions_path}
