%body
  .container
    %header.jumbotron.my-4
      %h2.card-title
        = @question.title
    .card-body
      内容：
      %br/
      = @question.body
    .row
      - @question.answers.each do |answer|
        .col-lg-12.col-md-12
          .card.h-100
            .card-body
              %div= answer.body
              %p.text-right
                回答ユーザー#{user_info(answer.user_id).name}
    = link_to 'Edit', edit_question_path(@question)
    |
    \#{link_to 'Back', questions_path}
