.main
  .main__image
  
  .main__text
    .main__text__box
      最適な一滴を
    .main__text__box2
      The eye is the window of the heart.
       
              

    .main__box
      .main__box__1
        .main__box__1__1
          %button.btn.shadow 
            = link_to contacts_path do
              コンタクト
        .main__box__1__2
          %button.btn.shadow 
            = link_to rests_path do
              リフレッシュ
        .main__box__1__3
          %button.btn.shadow 
            = link_to flowers_path do
              花粉症  
        .main__box__1__4
          %button.btn.shadow 
            = link_to hordeolums_path do
              結膜炎
      .main__box__2
        .main__box__2__1
          %button.btn.shadow 
            = link_to products_path do
              ドライアイ
        .main__box__2__2
          %button.btn.shadow 
            = link_to strains_path do
              疲れ・かすみ目
        .main__box__2__3
          %button.btn.shadow 
            = link_to reds_path do
              充血
        .main__box__2__4
          %button.btn.shadow 
            = link_to kids_path do
              キッズ
          

          