-# = render 'top/header'
#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Login 
      %h3 
        = link_to "/users/sign_up" do
          Create Account
      %h4 
        = link_to " Back",root_path
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :password
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "Log in", class: 'btn'
      
    



-# #signinpage
-# 
-# %html{:style => "background:linear-gradient(245deg, #fafbf9, #0c0c0d, #8a888e);width:100%;height:100%"}
-# %body{:style => "background:linear-gradient(245deg, #fafbf9, #0c0c0d, #8a888e);width:100%;height:100%;margin:0"}

-# .card.col-sm-5.mx-auto.mt-5{style: 'margin: *;'}
-#   .card-body
-#     %h3.mt-1.mb-3 
-#       %font{:face => "monospace"} 
-#         ログイン
-#     = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#       .form-group
-#         = f.label :email, "メールアドレス", :class => "form-label"
-#         = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"
-#       .form-group
-#         = f.label :password, "パスワード", :class => "form-label"
-#         = link_to "パスワードを忘れた場合", new_user_password_path, :class => "float-right"
-#         = f.password_field :password, :class => "form-control"
-#         - if devise_mapping.rememberable?
-#           .form-check
-#             = f.check_box :remember_me, :class => "form-check-input"
-#             = f.label :remember_me, "パスワードを保存", :class => "form-check-label"
-#       .actions
-#         = f.submit "ログイン", :class => "btn btn-dark btn-block"
-#     .small.text-muted.text-center.mt-4 新しいユーザですか?
-# -#     = link_to "アカウントを作成", new_user_registration_path, :class => "btn btn-light btn-block border mt-1"
-# = render 'top/footer'