%h1 Listing reds

%table
  %thead
    %tr
      %th Name
      %th Company
      %th Rank
      %th Point
      %th Point
      %th Pit1
      %th Pit2
      %th Pit3
      
      %th Picture
      %th
      %th
      %th

  %tbody
    - @reds.each do |red|
      %tr
        %td= red.name
        %td= red.company
        %td= red.rank
        %td= red.point
        %td= red.point
        %td= red.pit1
        %td= red.pit2
        %td= red.pit3
        
        %td= red.advice3
        %td= red.picture
        %td= link_to 'Show', red
        %td= link_to 'Edit', edit_red_path(red)
        %td= link_to 'Destroy', red, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Red', new_red_path
