%h1 Listing strains

%table
  %thead
    %tr
      %th Name
      %th Company
      %th Rank
      %th Point
      %th Pit1
      %th Pit2
      %th Pit3
      %th Advice1
      %th Advice2
      %th Advice3
      %th Picture
      %th
      %th
      %th

  %tbody
    - @strains.each do |strain|
      %tr
        %td= strain.name
        %td= strain.company
        %td= strain.rank
        %td= strain.point
        %td= strain.pit1
        %td= strain.pit2
        %td= strain.pit3
        %td= strain.advice1
        %td= strain.advice2
        %td= strain.advice3
        %td= strain.picture
        %td= link_to 'Show', strain
        %td= link_to 'Edit', edit_strain_path(strain)
        %td= link_to 'Destroy', strain, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Strain', new_strain_path
